body {
    color: red; /* When :host { all: initial; } is used, this style doesn't penetrate */
}

* {
    color: blue; /* This style still penetrates though */
}

p {
    color: green; /* This style still penetrates though */
}